name: Build and Release

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Auto Version & Tag"]
    types:
      - completed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: build-and-deploy

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check for new tag
        run: |
          git fetch --tags
          TAGS=$(git tag --points-at HEAD)
          echo "tags: $TAGS"
          echo "tags=$TAGS" >> $GITHUB_ENV
          if [ -z "$TAGS" ]; then
            echo "new_tag=false" >> $GITHUB_ENV
            echo "No new tag found. Following actions will be skipped."
          else
            echo "new_tag=true" >> $GITHUB_ENV
            echo "New tag found: $TAGS"
          fi

      - uses: actions/setup-node@v3
        if: env.new_tag == 'true'
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        if: env.new_tag == 'true'
        with:
          version: 10

      - run: pnpm install
        if: env.new_tag == 'true'

      - name: Get version info
        if: env.new_tag == 'true'
        id: version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          MAJOR=$(echo $VERSION | cut -d. -f1)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "MAJOR=$MAJOR" >> $GITHUB_ENV

      - name: Deploy to Vercel
        if: env.new_tag == 'true'
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          working-directory: .
          vercel-args: "--confirm --prod"
          alias-domains: "v${{ env.MAJOR }}.version-architecture-test.nilsgke.dev"
